source https://api.nuget.org/v3/index.json

nuget FSharp.Core <= 3.1.2.5

group FSharp41
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core = 4.1.18

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget FAKE.Persimmon
  nuget NuGet.CommandLine
  nuget SourceLink.Fake
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx
  github persimmon-projects/Persimmon.Materials StandardIcons/persimmon.ico
  github persimmon-projects/Persimmon.Materials StandardIcons/persimmon_128.png
  github bluebird75/luaunit junitxml/junit-jenkins.xsd

group Test
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core = 4.0.0.1
