group Build
  source https://api.nuget.org/v3/index.json
  source https://www.nuget.org/api/v2

  nuget FAKE
  nuget FAKE.Persimmon
  nuget NuGet.CommandLine
  nuget SourceLink.Fake
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx
