framework: netstandard2.0
source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core >= 5.0.0 lowest_matching:true
nuget System.Xml.XDocument >= 4.3.0 lowest_matching:true

group Build
  framework: net60
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget Fake.DotNet.Cli
  nuget Fake.IO.FileSystem
  nuget Fake.Core.Target
  nuget Fake.Core.String
  nuget Fake.Core.Process
  nuget Fake.Core.Trace
  nuget Fake.Core.ReleaseNotes 
  nuget Fake.Testing.Common
  nuget Fake.DotNet.FSFormatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx
  github persimmon-projects/Persimmon.Materials StandardIcons/persimmon.ico
  github persimmon-projects/Persimmon.Materials StandardIcons/persimmon_128.png
  github bluebird75/luaunit junitxml/junit-jenkins.xsd

group Formatting
  framework: net60
  source https://api.nuget.org/v3/index.json
  storage: packages

  nuget FSharp.Formatting.CommandTool = 4.1.0

group Latest
  framework: netstandard2.0
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core = 6.0.3

group Legacy
  framework: netstandard2.0
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core >= 5.0.0 lowest_matching:true

group Net462_FS5
  framework: net462
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core = 5.0.0
  nuget System.Configuration.ConfigurationManager >= 6.0.0 lowest_matching:true

group Net462_FS6
  framework: net462
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core = 6.0.0
  nuget System.Configuration.ConfigurationManager >= 6.0.0 lowest_matching:true